<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- BOOTSTRAP -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
            crossorigin="anonymous"
        />
        <!--  Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet" />

        <!-- CSS -->
        <link rel="stylesheet" href="/public/style.css" />
        <title>Headache Solutions</title>
    </head>

    <body class="d-flex flex-column min-vh-100">
        <!-- NAVBAR -->
        <div class="sticky-top offsetNav" id="nav">
            <nav id="mainNavbar" class="navbar navbar-expand-lg navbar-dark py-xl-4">
                <div class="container">
                    <a href="../index.html" class="navbar-brand logo"><i class="fas fa-tooth pe-1 toothtooth"></i>Migraine<span>Dentistry</span></a>

                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 px-md-0 px-xl-5 pe-xl-2" id="navLinks">
                            <li class="nav-item pe-0">
                                <a class="nav-link" href="/views/headache_relief.html">Headache Relief</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/views/neuromuscular.html">Neuromuscular Solutions</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> TMJ </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" href="/views/tmj_tmd.html">TMJ and TMD</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Migraine Headaches</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Ear Symptoms</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Damaged Teeth</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Face and Neck Pain</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Jaw Joint Clicking</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Depression</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Jaw Pain</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Limited Mouth Opening</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/views/migraine_research.html">Migraine Research</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/views/patient_testimonials.html">Patient Testimonials</a>
                            </li>
                        </ul>
                        <a href="/views/contact.html"><button type="button" class="appointment-button-nav btn btn-outline-light btn-sm">Make an Appointment</button></a>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Splash -->
        <div class="container-fluid headache-solutions-background">
            <div class="container py-5">
                <div class="row padding-headache-solutions">
                    <div class="col-lg-6">
                        <h1 class="display-4 pb-3 text-white">Headache Relief</h1>
                        <p class="text-light lead">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet similique non assumenda impedit blanditiis quas eos reiciendis sapiente perferendis, unde culpa a. Tempore
                            dolorum voluptatum perspiciatis quos in, inventore pariatur?
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- HEADACHE INFO -->
        <section>
            <div class="container">
                <div class="row px-5 py-3 justify-content-center">
                    <div class="col-lg-6 px-3 my-auto order-lg-0">
                        <h3 class="pb-3">Getting to the Cause of Headaches</h3>
                        <p class="">
                            It is estimated that approximately 45 million Americans have chronic headaches, some of which are migraines. At least half of these people experience headaches severe
                            enough to be disabling some of the time. This can be costly: regular victims of chronic headaches make over 8 million visits to their doctor's office every year. Migraine
                            sufferers alone lose over 157 million workdays due to headache pain. The economic cost of this lost time due to migraines is staggering.
                        </p>
                        <p>
                            So what is it that hurts when you have a headache? A number of parts of the head can experience pain. There are a large group of nerves over the scalp, which can cause
                            pain. Specific nerves in the face, mouth and throat can also cause headache pain. Probably the most significant part of the head that is sensitive to pain are the muscles
                            of the head and blood vessels along the surface and base of the brain. These muscles and vessels contain very delicate nerve fibers, which can be irritated by changes in
                            the muscles and blood flow to and around the brain.
                        </p>
                    </div>
                    <div class="col-lg-6 text-center p-5 order-lg-1 d-none d-md-block">
                        <img
                            src="https://images.unsplash.com/photo-1518715099875-1cc34e55e2c4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80"
                            alt=""
                            class="img-fluid circular-image"
                        />
                    </div>
                </div>
                <!-- NEUROMUSCULAR DENTISTRY -->
                <div class="row px-5 py-3">
                    <div class="col-lg-6 px-3 my-auto">
                        <h3 class="pb-3">Neuromuscular Dentistry</h3>
                        <p>
                            Neuromuscular Dentistry is a type of dentistry that is used to treat a variety of symptoms. This can include: Migraine, headaches, jaw pain, clicking or popping in the jaw,
                            neck and shoulder pain and ringing in the ears (tinnitus). As mentioned above, a large number of Americans suffer from headaches. In addition, many others suffer from one
                            or more of these symptoms. Many of these patients have obtained no relieve from their symptoms due to either improper diagnosis or an assumption that there is no
                            physiological cause for their problem. Many of these patient's symptoms can be attributed to what is known as TMJ or (temporomandibular joint syndrome), also known as TMD
                            (temporomadibular joint dysfunction).
                        </p>
                        <p>
                            If you are suffering from any of the above symptoms, neuromuscular dentistry may be the right headache pain relief treatment for you. Click here to learn more about
                            neuromuscular dentistry treatment and solutions.
                        </p>
                    </div>
                    <div class="col-lg-6 text-center order-lg-first p-5 d-none d-md-block">
                        <img src="/imgs/x-ray-square.jpeg" alt="" class="img-fluid circular-image" />
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="bg-dark pt-4 text-light text-center mt-auto">
            <!-- Grid container -->
            <div class="container p-4">
                <div class="row">
                    <div class="col mb-4 mb-md-0">
                        <h5 class="text-uppercase"><i class="fas fa-tooth pe-1 pb-3"></i>Migraine Dentistry</h5>
                        <p>Beverly Hills Neuromuscular Dentistry Solutions provided by LVI Cosmetic Dentist Dr. A. Patric Cohen - Serving Beverly Hills and Los Angeles CA.</p>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-4 mb-md-0 foot-border-mid">
                        <h5 class="text-uppercase col-12 text-center pb-3">Hours of Operation</h5>
                        <div class="row">
                            <ul class="list-unstyled col-6 mb-0 text-start ps-5">
                                <li>Monday</li>
                                <li>Tuesday</li>
                                <li>Wednesday</li>
                                <li>Thursday</li>
                                <li>Friday</li>
                                <li>Saturday</li>
                                <li>Sunday</li>
                            </ul>
                            <ul class="list-unstyled col-6 mb-0 text-center ps-0">
                                <li>8:30am - 5:00pm</li>
                                <li>8:30am - 5:00pm</li>
                                <li>8:30am - 5:00pm</li>
                                <li class="fst-italic">Closed</li>
                                <li class="fst-italic">Closed</li>
                                <li class="fst-italic">Closed</li>
                                <li class="fst-italic">Closed</li>
                            </ul>
                        </div>
                    </div>

                    <!-- CONTACT US -->
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <h5 class="">Contact Us</h5>
                                <ul class="list-unstyled">
                                    <li>(310) 598-2166</li>
                                    <li>(310) 271-9060</li>
                                    <li class="text-center fw-bold pt-4">Address:</li>
                                    <li>9025 Wilshire Blvd. #307</li>
                                    <li>Beverly Hills, CA 90211</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Copyright -->
                    <div class="text-center p-3 pt-5" style="background-color: rgba(0, 0, 0, 0)">
                        © 2021 Copyright: Patric Cohen DDS
                        <br />
                        Designed by
                        <a href="www.kevbot.io" target="none">Kevin Muhlbach</a>
                    </div>
                </div>
            </div>
        </footer>

        <!-- BOOTSTRAP JS -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"
        ></script>
        <!-- NAVRBAR SCRIPT -->
        <script src="/index.js"></script>
    </body>
</html>
