body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

.logo {
    font-size: 1.1rem;
}

nav {
    font-size: 0.8rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
}

#navLinks li {
    padding: 0.3rem;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:active {
    color: blue;
}

#mainNavbar .nav-link:hover {
    color: #d6d6d6;
}

.card {
    border: none;
}
.bg-circle {
    border-radius: 50%;
    background: red;
}

html {
    scroll-behavior: smooth;
}
.btn-sm {
    font-size: 0.8rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
}

.padding-headache-solutions {
    padding-top: 6rem;
}

.w-custom-tooth {
    width: 6rem;
}
.offsetNav {
    margin-bottom: -100px;
}

.text-blue {
    color: #48cae4;
}

.icon-color-white {
    color: white;
}

.headache-icon {
    width: 10rem;
}

.bg-dark-opacity {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* background: rgba(0, 0, 0, 0.5); */
}

.padding-headache {
    padding-top: 7rem;
}

.fp-links {
    color: #4ebfff;
    text-decoration: none;
}

.header-background {
    position: static;
    display: block;
    overflow: visible;
    top: 0;
    height: auto;
    min-height: 30rem;
    padding-bottom: 70px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../imgs/x-ray1.jpg");
    flex-direction: column;
    background-position: center center;
    background-size: auto, cover;
    white-space: normal;
    object-fit: fill;
}

@media (min-width: 576px) {
    .header-background {
        /* THIS ADDS A PARALLAX BREAKPOINT  */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* END PARALLAX */
        position: static;
        display: block;
        overflow: visible;
        top: 0;
        height: auto;
        min-height: 30rem;
        padding-bottom: 70px;
        flex-direction: column;
        background-position: center center;
        background-size: auto, cover;
        white-space: normal;
        object-fit: fill;
    }
}

.bio-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url("https://images.unsplash.com/photo-1465982046896-5172ca240f27?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80");
}

@media (min-width: 576px) {
    .bio-background {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.headache-solutions-background {
    position: static;
    display: block;
    overflow: visible;
    top: 0;
    height: auto;
    min-height: 30rem;
    padding-bottom: 70px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../imgs/toothbrush_sky.jpeg");
    flex-direction: column;
    background-position: -40rem 0rem;
}

@media (min-width: 576px) {
    .headache-solutions-background {
        /* THIS CREATES PARALLAX  */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* END PARALLAX */
        position: static;
        display: block;
        overflow: visible;
        top: 0;
        height: auto;
        min-height: 30rem;
        padding-bottom: 70px;
        flex-direction: column;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url("../imgs/toothbrush_sky.jpeg");
    }
}

.neuromuscular-solutions-background {
    background-size: cover;
    position: static;
    display: block;
    overflow: visible;
    top: 0;
    height: auto;
    min-height: 30rem;
    padding-bottom: 70px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.25)), url("../imgs/x-ray3.jpg");
    flex-direction: column;
    background-position: center center;
}

@media (min-width: 576px) {
    .neuromuscular-solutions-background {
        /* THIS CREATES PARALLAX  */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* END PARALLAX */
        position: static;
        display: block;
        overflow: visible;
        top: 0;
        height: auto;
        min-height: 30rem;
        padding-bottom: 70px;
        flex-direction: column;
        background-position: center center;
    }
}

.migraine-research-background {
    background-size: cover;
    position: static;
    display: block;
    overflow: visible;
    top: 0;
    height: auto;
    min-height: 15rem;
    padding-bottom: 70px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.25)), url("../imgs/research.jpg");
    flex-direction: column;
    background-position: center center;
}

@media (min-width: 576px) {
    .migraine-research-background {
        /* THIS CREATES PARALLAX  */
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        /* END PARALLAX */
        position: static;
        display: block;
        overflow: visible;
        top: 0;
        height: auto;
        min-height: 15rem;
        padding-bottom: 70px;
        flex-direction: column;
        background-position: center center;
    }
}

.testimonials-background {
    background-size: cover;
    position: static;
    display: block;
    overflow: visible;
    top: 0;
    height: auto;
    min-height: 30rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75)), url("../imgs/pexels-belle-co-847393.jpg");
    padding-bottom: 70px;
    flex-direction: column;
    background-position: center center;
}

@media (min-width: 576px) {
    .testimonials-background {
        /* THIS CREATES PARALLAX  */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* END PARALLAX */
        position: static;
        display: block;
        overflow: visible;
        top: 0;
        height: auto;
        min-height: 30rem;
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75)), url("../imgs/pexels-belle-co-847393.jpg");
        padding-bottom: 70px;
        flex-direction: column;
        background-position: center center;
    }
}

.contact-background {
    background-size: cover;
    position: static;
    display: block;
    overflow: visible;
    top: 0;
    height: auto;
    min-height: 15rem;
    padding-bottom: 70px;
    background-image: url("../imgs/bio-bg.jpeg");
    flex-direction: column;
    background-position: center center;
}

@media (min-width: 576px) {
    .contact-background {
        /* THIS CREATES PARALLAX  */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* END PARALLAX */
        position: static;
        display: block;
        overflow: visible;
        top: 0;
        height: auto;
        min-height: 15rem;
        padding-bottom: 70px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.1)), url("../imgs/bio-bg.jpeg");
        flex-direction: column;
        background-position: center center;
    }
}

.tmj-tmd-header-background {
    background-size: cover;
    position: static;
    display: block;
    overflow: visible;
    top: 0;
    height: auto;
    min-height: 30rem;
    padding-bottom: 70px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../imgs/dental_tools_5.jpg");
    flex-direction: column;
    background-position: center center;
}

@media (min-width: 576px) {
    .tmj-tmd-header-background {
        /* THIS CREATES PARALLAX  */
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.migraine-headaches-background {
    position: static;
    display: block;
    overflow: visible;
    top: 0;
    height: auto;
    min-height: 15rem;
    padding-bottom: 70px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.1)), url("../imgs/abstract_2.jpg");
    flex-direction: column;
    background-position: center center;
}

@media (min-width: 576px) {
    .migraine-headaches-background {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.ear-symptoms-background {
    position: static;
    display: block;
    overflow: visible;
    top: 0;
    height: auto;
    min-height: 15rem;
    padding-bottom: 70px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.25)), url("../imgs/dog_ears.jpeg");
    flex-direction: column;
    background-position: center 2rem;
    background-repeat: none;
    background-size: cover;
}

@media (min-width: 576px) {
    .ear-symptoms-background {
        background-attachment: fixed;
        background-position: center -10rem;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.damaged-background {
    position: static;
    display: block;
    overflow: visible;
    top: 0;
    height: auto;
    min-height: 15rem;
    padding-bottom: 70px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.2)), url("../imgs/weird-teeth.jpg");
    flex-direction: column;
    background-size: cover;
    background-position: center center;
}

@media (min-width: 576px) {
    .damaged-background {
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.face-neck-background {
    position: static;
    display: block;
    overflow: visible;
    top: 0;
    height: auto;
    min-height: 15rem;
    padding-bottom: 70px;
    background-image: url("../imgs/head_and_neck.jpg");
    flex-direction: column;
    background-size: cover;
    background-position: center center;
}

@media (min-width: 576px) {
    .face-neck-background {
        /* THIS CREATES PARALLAX  */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.jaw-joint-background {
    position: static;
    display: block;
    overflow: visible;
    top: 0;
    height: auto;
    min-height: 15rem;
    padding-bottom: 70px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.1)), url("../imgs/teeth_1.jpeg");
    flex-direction: column;
    background-position: center center;
    background-size: cover;
}

@media (width: 576px) {
    .jaw-joint-background {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.depression-background {
    /* THIS CREATES PARALLAX  */
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* END PARALLAX */
    position: static;
    display: block;
    overflow: visible;
    top: 0;
    height: auto;
    min-height: 15rem;
    padding-bottom: 70px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.25)), url("../imgs/depression.jpg");
    flex-direction: column;
    background-position: center center;
}

.jaw-pain-background {
    position: static;
    display: block;
    overflow: visible;
    top: 0;
    height: auto;
    min-height: 30rem;
    padding-bottom: 70px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.25)), url("../imgs/pile_of_teeth.jpeg");
    flex-direction: column;
    background-position: center center;
    background-size: cover;
}

@media (min-width: 576px) {
    .jaw-pain-background {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.limited-mouth-opening {
    position: static;
    display: block;
    overflow: visible;
    top: 0;
    height: auto;
    min-height: 30rem;
    padding-bottom: 70px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.25)), url("../imgs/dental_tools_4.jpg");
    flex-direction: column;
    background-position: center center;
    background-size: cover;
}

@media (min-width: 576px) {
    .limited-mouth-opening {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.img-background {
    position: static;
    display: block;
    overflow: visible;
    top: 0;
    height: auto;
    min-height: 40rem;
    padding-bottom: 70px;
    /* background-image: -webkit-gradient, linear, left top, left bottom, from(rgba(50, 58, 59, 0.9); */
    /* background-image: linear-gradient(180deg, rgba(50, 58, 69, 0.55), rgba(50, 58, 69, 0.74), url('imgs/toothbrushes.jpg')); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("imgs/x-ray5.jpg");
    flex-direction: column;
    background-position: center center;
    background-size: auto, cover;
    white-space: normal;
    object-fit: fill;
    -o-object-fit: fill;
}

.neg-marg {
    margin-top: -50px;
    border: 1px solid black;
    background-color: white;
}

.foot-border-mid {
    border-left: 1px solid #d4d8da;
    border-right: 1px solid #d4d8da;
}

.over {
    border-radius: 8px;
    margin-top: -50px;
}

/* Showcase */
.showcase-img {
    min-height: 30rem;
    background-size: cover;
}

.showcase-text {
    padding: 3rem;
}

.showcase-box-shadow {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

#nav {
    transition: all 0.75s;
}

@media (max-width: 992px) {
    .navbar {
        padding: 10px;
        padding-bottom: 15px;
        background-color: #292b2c;
    }
}

.circular-image {
    border-radius: 50%;
}

/* Header Parallax Media Queries */
